<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a list</a>
            </p>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>

                    <th>Number of Items</th>

                </tr>

            </thead>
            <tbody>
                <tr>
                    {% for list in lists %}
                    <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                    <td>{{ list.items.all|length }} </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>




    </main>

</body>

</html>